* {
  box-sizing: border-box;
}
:root {
  --TextColour : white; 
  --MainBorder : 3px solid #d87093; 
}

header {
  background-color: #262626;
}

body {
  background-color: #262626;
}

h2 {

}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;

}

nav ul a{
  color: var(--TextColour) ;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: var(--TextColour);
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;

}

nav ul li a:hover::after { 
width: 100%;
border-bottom: 2px solid var(--TextColour);
}

.home {
  position: absolute;
  left: 0px;
  color: var(--TextColour);
  height: 90px;
  width: 90px ;
  
}

#hero-banner{
  
  background-image: url('/images/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 30vh;
  width:100wh; 

}


#main-grid {
  display: grid;
  gap: 10px;
  grid-auto-rows: 100px;
  color: var(--TextColour);
  border:1px solid var(--TextColour);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "about"
  "work"
  "contact";
}

.about {
  grid-area: about;
  display: grid;
  border: solid 1px var(--TextColour);
  grid-template-columns: 0.5fr 1.75fr 1.75fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "about-heading selfie about-content";
  background-co262626
}

#about-heading{
  grid-area:about-heading;
  border-right:1px solid var(--TextColour);
}
#selfie{
  grid-area:selfie;
  border:1px solid var(--TextColour);
  width:200px;
  margin: 1%;
  
}
#about-content{
  grid-area:about-content;
  
}

.work {
  grid-area: work;
  display: grid;
  border: solid 1px var(--TextColour);
  grid-template-columns: 0.5fr 1.75fr 1.75fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
  "project-heading horiseon horiseon"
  "project-heading  jakes-eatery css-cheatsheet"
  "project-heading filmnow calculator";
  background-co262626

}
#project-heading {
  grid-area:project-heading;
  border-right:1px solid var(--TextColour);
}
#horiseon {
  grid-area:horiseon;
  border:1px solid var(--TextColour);
  background-image: url("/images/horiseon.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#jakes-eatery {
  grid-area:jakes-eatery;
  border:1px solid var(--TextColour);
  background-image: url("/images/jake.png");
}
#css-cheatsheet {
  grid-area:css-cheatsheet;
  border:1px solid var(--TextColour);
  background-image: url("/images/cssCheat.png");
  background-size: cover;
}
#filmnow {
  grid-area:filmnow;
  border:1px solid var(--TextColour);
  background-image: url("/images/filmnow.png");
}
#calculator {
  grid-area:calculator;
  border: 1px solid var(--TextColour);
  background-image: url("/images/calculator.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  grid-area: contact;
  border: solid 1px var(--TextColour);
  background-co262626
}

.contact a {
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 220px;
  margin-top: 100px;
  
}

#contact-section{
  display: flex;
 text-align: start;
}
.fa-linkedin {
  color: #3B5998;
  font-size: 100px;
}

.fa-github {
color: black;
font-size: 100px;
}

.fa-twitter {
color: #55ACEE;
font-size: 100px;
}

.fa-house {
  font-size: 3em;
}

span {
  color: #d87093;
  size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


@media (min-width: 40em) {
  .main-grid {
    grid-template-columns: 1fr 1fr;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
