* {
  box-sizing: border-box;
}
/* root selector with all variables used to style the portfolio */
:root {
  --TextColour : black; 
  --MainBorder : 5px solid black; 
  --mainGridBackground: #ff37; 
  --mainPadding: 5px;
  --mainMargin:5px;
}
/* styling the border of the header */
header{
  border-bottom:var(--MainBorder)
}

/* setting the backgrond color of the main Grid (about me and work section) */
body {
  background-color: var(--mainGridBackground);;
}

/* styling all the h2 tags of the portfolio */
h2 {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight:bolder;
font-size: xx-large;
}

/*  styling the navigation area of the portfolio*/
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Styling just the list elements in the navigation are */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;

}

/* styling the anchor tags of the unordered list in the navigation area */
nav ul a{
  color: black;
  text-decoration: none;
  font-size: 18px;
}

/* below sections create and style the hovering effect of the navigation elements */
nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: var(--TextColour);
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover::after { 
width: 100%;
border-bottom: 2px solid var(--TextColour);
}

/* styling of the name of the student in the nav bar */
.name{
  position: absolute;
  left: 0px;
  color: var(--TextColour);
  height: 90px;
  width: 90px ;

}

/* main styling of the hero banner section of the portfolio */
#hero-banner{
  background-image: url('../images/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 30vh;
  width:100wh; 
}

/* Creation of the whole main grid area of the portfolio (about me, work, and contact section) */
#main-grid {
  display: grid;
  gap: 0px;
  grid-auto-rows: 100px;
  color: var(--TextColour);
  border: var(--MainBorder);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "about"
  "work"
  "contact";
}
/* styling of the main grid*/
.main-items{
  padding: var(--mainPadding);
  margin-top: var(--mainMargin);
  margin-bottom: var(--mainMargin);
}

/* dividing and setting the grid area of the About Me section of the main grid */
#about {
  grid-area: about;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 0.5fr 1.75fr 1.75fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "about-heading selfie about-content";
}

/* addition and styling of just the 'About Me' heading. Adding a border */
#about-heading{
  grid-area:about-heading;
  border-right:var(--MainBorder)
}
/* addition and styling of the image in the About Me section */
#selfie{
  grid-area:selfie;
  border:3px solid fuchsia;
  width:300px;
  margin: 1%;
}
/* addition and styling of the information about the student */
#about-content{
  grid-area:about-content;
}
 
#about-content li{
  list-style: none;
  text-decoration: none;
  font-size: 30px;
}

/* Creation of the nested 'work' grid into the main grid where projects will be showcased */
#work {
  grid-area: work;
  display: grid;
  grid-template-columns: 0.5fr 1.75fr 1.75fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
  "project-heading horiseon horiseon"
  "project-heading  jakes-eatery css-cheatsheet"
  "project-heading filmnow calculator";
}
/* addition and placement of the work heading */
#project-heading {
  grid-area:project-heading;
  border-right:var(--MainBorder);
}
/* Below sections introduce/add the projects and style them according to their placement on the grid */
#horiseon {
  grid-area:horiseon;
  border:1px solid var(--TextColour);
  background-image: url("../images/horiseon.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#jakes-eatery {
  grid-area:jakes-eatery;
  border:1px solid var(--TextColour);
  background-image: url("../images/jake.png");
}
#css-cheatsheet {
  grid-area:css-cheatsheet;
  border:1px solid var(--TextColour);
  background-image: url("../images/cssCheat.png");
  background-size: cover;
}
#filmnow {
  grid-area:filmnow;
  border:1px solid var(--TextColour);
  background-image: url("../images/filmnow.png");
}
#calculator {
  grid-area:calculator;
  border: 1px solid var(--TextColour);
  background-image: url("../images/calculator.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* adding and styling the labels of each project  */
.content-labels{
  display: flex;
  align-items: end;
  background-size: cover;
  text-decoration: none;
  font-weight:bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  padding: var(--mainPadding);
  margin: var(--mainMargin);
  border: 1px solid black;
}
.content-labels span{
background-color: white;
border: var(--MainBorder);
}

/* Styling the contact me area of the porfolio  */
#contact {
  grid-area: contact;
  border: solid 1px var(--TextColour);
  background-color: #ffe4f3;
  border-top: var(--MainBorder);
  margin:0;
}

/* styling the positioning of the icons in the contact me section */
#contact a {
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 220px;
  margin-top: 100px; 
}

/* ensuring that the contact section is set to flex */
#contact-section{
  display: flex;
 text-align: start;
}

/* Styling of the individual icons (links) in the contact me section */
.fa-linkedin {
  color: #3B5998;
  font-size: 100px;
}

.fa-github {
color: var(--TextColour);
font-size: 100px;
}

.fa-twitter {
color: #55ACEE;
font-size: 100px;
}

span {
  color: #d87093;
  size: 20px;
}

/* styling of body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* setting media queries to ensure that about and work sections are responsive to different screen sizes */
@media only screen and (max-width: 700px) {
  #about {
    grid-template-columns: 1fr;
    grid-template-rows: 100px ;
    grid-template-areas: 
    "about-heading"
    "selfie"
    "about-content"; 
  }

  #work {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 3fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "project-heading"
    "horiseon"
    "jakes-eatery"
    "css-cheatsheet"
    "filmnow"
    "calculator"; 
  }
}

/* basic styling of headers and paragraph */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
